body {
  font-weight: 300;
}
.header{
  padding: 25px 0px 250px;
}
.header__burger {
  display: none;
}
.header__menu{
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 0px 100px;
}
.header__menu a{
  text-decoration: none;
  text-transform: uppercase;
  color:black;
  display: inline-block; 
  line-height: 1;
  }
.header__menu a:after {
  display: block;
  content: ""; 
  height: 2px; 
  width: 0%; 
  background-color: red; 
  transition: width 0.4s ease-in-out; 
  }
.header__menu a:hover:after,
.header__menu a:focus:after {
  width: 100%;
  }
.header__content{
  padding: 100px 0px 0px;
}
.header__content-1-text {
  font-size: calc(4vw + 3vh);
  line-height: 1em;
}
.header__content-2 {
  height: calc(20vw + 17vh);
  width: auto;
}
.ipsType_right {
  text-align: right;
}
.ipsType_center {
  text-align: center;
}

.ipsSpacer_bottom_double {
  margin-bottom: 30px;
}
.ipsGrid {
  display: inline-block;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.ipsGrid::before, .ipsGrid::after {
  display: table;
  content: "";
  line-height: 0;
}
.ipsGrid > [class*="ipsGrid_span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
}
.ipsGrid > .ipsGrid_span5 {
  width: 40.42553191489362%;
}
.ipsGrid > .ipsGrid_span7 {
  width: 57.44680851063829%;
}
.ipsGrid > [class*="ipsGrid_span"] {
  float: left;
  margin-left: 2%;
}
.ipsGrid > [class*="ipsGrid_span"]:first-child {
  margin-left: 0;
}
.feature {
  display: flex;
  align-items: center;
}
.card {
  border: 0;
  border-radius: 0;
  overflow: hidden;
 
}
.featured-image-container .card {
  padding: 10px;
  height: 0;
  padding-bottom: calc(100% - 10px);
}
h2.heading_large {
  font-size: 1.8em;
}
img {
  max-width: 100%;
}
.header-section {
  margin: 200px auto;
}
.gs_reveal {
  opacity: 0; 
  visibility: hidden;
  will-change: transform, opacity;
}

main p{
  font-size: 130%;
}
.menu,
.header__title.col-sm-1.offset-sm-1,
.menu-bar {
  display: none;
}



















@media only screen
  and (max-device-width: 991px) { 
    body {
      font-weight: 300;
    }
    .header{
      width: 100%;
      position: fixed;
      background-color: rgb(252, 205, 205);
      z-index: 20;
      padding: 0 10px 0 10px;
      height: 70px;
    }
    .header  .row {
      display: none;
    }
    .header__title.col-sm-1.offset-sm-1 {
      display: inline-block;
      margin-top: 1%;

    }
    .header__menu{
      display: flex;
      justify-content: space-between;
      align-self: center;
      padding: 0px 100px;
    }
    .header__menu a{
      text-decoration: none;
      text-transform: uppercase;
      color:black;
      display: inline-block; 
      line-height: 1;
      }
    .header__menu a:after {
      display: block;
      content: ""; 
      height: 2px; 
      width: 0%; 
      background-color: red; 
      transition: width 0.4s ease-in-out; 
      }
    .header__menu a:hover:after,
    .header__menu a:focus:after {
      width: 100%;
      }
    .header__content{
      padding: 100px 0px 0px;
    }
    
    .ipsType_right {
      text-align: right;
    }
    .ipsType_center {
      text-align: center;
    }
    
    .ipsSpacer_bottom_double {
      margin-bottom: 30px;
    }
    .ipsGrid {
      display: inline-block;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
    }
    .ipsGrid::before, .ipsGrid::after {
      display: table;
      content: "";
      line-height: 0;
    }
    .ipsGrid > [class*="ipsGrid_span"] {
      display: block;
      width: 100%;
      min-height: 30px;
      box-sizing: border-box;
    }
    .ipsGrid > .ipsGrid_span5 {
      width: 40.42553191489362%;
    }
    .ipsGrid > .ipsGrid_span7 {
      width: 57.44680851063829%;
    }
    .ipsGrid > [class*="ipsGrid_span"] {
      float: left;
      margin-left: 2%;
    }
    .ipsGrid > [class*="ipsGrid_span"]:first-child {
      margin-left: 0;
    }
    .feature {
      display: flex;
      align-items: center;
      flex-basis: 400px;

    }
    .card {
      border: 0;
      border-radius: 0;
      overflow: hidden;
    }
    .featured-image-container .card {
      padding: 10px;
      height: 0;
      padding-bottom: calc(100% - 10px);
      
    }
    h2.heading_large {
      font-size: 1.8em;
    }
    img {
      max-width: 100%;
    }
    .header-section {
      margin: 200px auto;
    }
    .gs_reveal {
      opacity: 0; 
      visibility: hidden;
      will-change: transform, opacity;
    }
    main {
      margin-top: 70px;
    }
    main p{
      font-size: 130%;
    }   
    .menu-bar {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 50px;
      height: 50px;
      cursor: pointer;
      display: block;
  }
  .menu-bar span, .menu-bar span:before, .menu-bar span:after {
      width: 100%;
      position: absolute;
      height: 10px;
      background: rgb(44, 44, 44);
      display: block;
      transition: .3s;
      border-radius: 5px;

  }
  .menu-bar span:before{
    content: "";
    top: -20px;
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu-bar span{
    top: 20px;
    z-index: 100;
  
    
  }
  .menu-bar span:after{
    content: "";
    bottom: -20px;
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu-bar span.active:before{
    content: "";
    top: 0px;
    transform: rotate(45deg);
    z-index: 100;
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
  }
  .menu-bar span.active:after{
    content: "";
    z-index: 100;
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
  }
  .menu-bar span.active{
      background: rgb(252, 205, 205); 
      z-index: 100;
    }
  ul{
    list-style: none;
  }
  .menu a {
    text-decoration: none;
    color: black;
  }
  li {
    font-size: 10vw;
  }
  .menu{
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    color: #ccc;
    padding: 10px;
    z-index: 10;
    position: fixed;
    display: block;
    left: -100%;
    transition: left 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .menu.animate{
    left: 0;
  }
  @media(max-width: 380px){
    .menu{
    width: 100%;
    }
  }
}
@media screen and (max-device-width: 770px)
{
  .header__title.col-sm-1.offset-sm-1 {
    width: 63px;
  }
  
}