canvas {
    width: 100%;
    height: 100%;
    }
header h1 {
    font-size: 55px;
    font-family: Geometria;
    text-align: center;
}
h2 {
    font-family: Geometria;
    text-align: center;
}
body {
    font-family: 'Geometria', sans-serif;
    color: aliceblue;
}
header{
    margin: 70px 0;

}

.red {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), url('https://raw.githubusercontent.com/aeroserg/aeroserg.github.io/main/happybday/img/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


.orange {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), url('https://raw.githubusercontent.com/aeroserg/aeroserg.github.io/main/happybday/img/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.purple {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), url('https://raw.githubusercontent.com/aeroserg/aeroserg.github.io/main/happybday/img/3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.green {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), url('https://raw.githubusercontent.com/aeroserg/aeroserg.github.io/main/happybday/img/4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.main_story p {
    font-size: 20px;
}
.container {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}
.greetings {
    width: 100%;
}
.image img {
    width: 300px;
}
.image {
    margin: 0 auto;
    margin-top: 30%;
    margin-bottom: 30%;
}
.main_story {
    position: relative;
}
.panel {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0 ;
    left: 0;
}
.panel p {
    text-align: center;
}
.margin {
    margin-top: 30%;
}
.cert a {
    padding: 20px 40px;
    text-decoration: none;
    color: white;
    box-shadow: 0 0 20px 5px #d435c4b3;
    background-color: rgb(184, 67, 230);
    border-radius: 20px;
    font-size: 22px;
    margin: 0 auto;
    transition: all 0.5s;
    
}
.cert {
    display: flex;
    font-size: 22px;
    margin: 0 auto;
    margin-top: 50px;
}
.cert a:hover {
    padding: 20px 40px;
    text-decoration: none;
    color: white;
    box-shadow: 0 0 20px 5px #cc41fff8;
    background-color: rgb(215, 27, 232);
    border-radius: 20px;
    font-size: 22px;
    margin: 0 auto;
    transform: rotate(5040deg);
    transition: transform 5s cubic-bezier(1, 0., 1, 1);

    
}
.cert a:target {
    background-color: rgb(233, 49, 193);
    transform: rotate(5040deg);
    transition: transform 5s cubic-bezier(1, 0.47, 1, 1);
}
.red p {
    font-size: 26px;
}
.first {
    display: flex;
    height: 40%;
}
.others {
    margin-top: 150px;
}

@media screen and (min-width: 900px) {
    .margin_10 {
        margin-top: 5%;
    }
    .margin {
        margin-top: 10%;
    }
}
