body {
    box-sizing: border-box;
}
h2, h3, h4 {
    text-transform: uppercase;
}
p {
    line-height: 1.5;
}
a {
    color:black;
}
.container_first {
    padding-top: 40px;
}
header {
    display: flex;
}
.name {
    box-sizing: border-box;
}
.photo img {
   
    max-width: 200px;
    border-radius: 10px;
}
.photo {
    float: left;
    padding: 0 20px 0 0;
}
.main_info {
    display: flex;
    flex-direction: column;
}
.contact_anchor {
    font-size: 22px;
    margin-bottom: 20px;
}
.summary p {
    font-size: 20px;
}
.b-h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
}
.cont-edu {
    display: flex;
}
.left-col {
    width: 20%;
    text-align: right;
}
footer {
    background-color: aquamarine;
}
p {
    margin-bottom: 0;
}
.language_en p:nth-child(4) {
    margin-bottom: 1rem;
}
.language_de p:nth-child(2) {
    margin-bottom: 0;
}
main h2 {   
    margin-top: 30px;
}
.language_de, .flex {
    display: flex;
    justify-content: space-between;
}
.work_cont_first ul li {
    list-style-type:disc;
    
}
li {
    line-height: 1.5;
}
.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding:2rem 1rem;
    margin:.6rem 1rem;
    box-shadow: 0px 0px 13px -5px;
}
.project span:last-of-type {
    margin-bottom: 2rem;
}
.project:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.173);
}

.project:nth-of-type(odd) {
    margin-right: 10px;
}
.skills span {
    color: rgb(193, 193, 193);
}
.contact_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer {
    padding: 30px 50px;
    text-align: center;
}


@media screen and (max-width: 767px) {
  
    .project {
        width: 100%;
    }
    .projects {
        grid-template-columns: repeat(1, 1fr);
    }
}

.if-container {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    border-radius: 7px;
    box-shadow: 0px 0px 6px -1px;
    transition: all .5s;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}

.iframe-class {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    z-index: 10;
}
.kreuz {
    position: absolute;
    color: #ffffff;
}
[data-hidden="true"] {
    height: 60px;
    padding: 0 3rem;
    margin: 0 auto;
}
[data-hidden="false"] {
    height: 100%;
    left: 0;
    width: 100%;
}
.if-container a {
    background-image: linear-gradient(to left, #09e122, #e509cf);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  
}