@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    margin:0;
    padding: 0;
}
.main-body {
    background-image: linear-gradient(to bottom, #fff, #fff,  rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0.151));
}
header {
    position: fixed;
    height: 100px;
    background-color: #fff;
    width:100vw;
    border-bottom: solid black 1px;
}
.logo {

    background-color: #cccccc;
    margin: 20px;
    height: 50px;
    border-radius:15px ;
    width: 13.5vw;
    flex: 0 0 auto;
    margin-left: 2vw;
}
.delivery {
    flex: 0 0 auto;
    background-color: rgb(252, 224, 0);
    height: 50px;
    margin-left: 1vw;
    width: 15vw; 
    border-radius: 15px;
    margin: 20px;
}
.login {
    display: inline-block;
    background-color: #cccccc;
    margin: 20px;
    height: 50px;
    border-radius:15px ;
    width: 6vw;
    margin-left: 40%;
}
.pic {
    margin-left: 100px;
    height: 400px;
    background-image: linear-gradient(to left, rgba(0, 0, 173, 0.877),pink);
    width: 68%;
    display: inline-block;
    border-radius:5px;
    margin-top: 125px;
}
.map {
    background-color: rgba(63, 138, 63, 0.158);
    display: inline-block;
    height: 600px;
    width: 20%;
    position: fixed;
    margin-left: 20px;
    border-radius:5px;
    margin-top: 125px;
}
.pizza {
    background-color: #ffffff;
    margin: 30px;
    height: 300px;
    border-radius:2px;
    width: 27%;
    margin-left: 150px;
    display: inline-block;
}
.description {
    background-color: rgba(0, 0, 0, 0.603);
    margin: 30px 30px 10px 20px;
    height: 25px;
    border-radius:15px;
    width: 45%;
    display: inline-block;
}
.recipe {
    background-color: rgb(153, 153, 153);
    margin: 0px 30px 0px 20px;
    height: 18px;
    border-radius:15px;
}
.price {
    height: 25px;
    border-radius:15px;
    width: 12%;
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 10% ;
}
.food-pic {
    margin:6%;
    height: 55%;
    width: 88%;
    background-image: linear-gradient(135deg, rgba(255, 60, 0, 0.712), yellow);
    border-radius:7px;
    text-align: left;
}
.pelmeni{
    background-color: #ffffff;
    margin: 30px;
    height: 300px;
    border-radius:2px;
    width: 27%;
    display: inline-block;
    margin-left: 30px;
}  
.pelmeni .food-pic {
    margin:6%;
    height: 55%;
    width: 88%;
    background-image: linear-gradient(135deg,rgba(248, 232, 2, 0.795), rgba(18, 252, 57, 0.699));
    border-radius:7px;
    text-align: left;
}
.pizza .price {
    height: 25px;
    border-radius:15px;
    width: 18%;
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    margin-bottom: 10px;

}
.pelmeni .description {
    background-color: rgba(0, 0, 0, 0.603);
    margin: 30px 0px 10px 20px;
    height: 25px;
    border-radius:15px;
    width: 60%;
    display: inline-block;
}
.sushi {
    background-color: rgba(252, 223, 0, 0.904);
    margin:30px;
    height: 300px;
    border-radius:2px;
    width: 27%;
    margin-left: 150px;
    display: inline-block;
    margin-top: 30px;
}  
.sushi .description {
    background-color: rgba(0, 0, 0, 0.897);
    margin: 30px 0px 10px 20px;
    height: 25px;
    border-radius:15px;
    width: 55%;
    display: inline-block;
}
.sushi .price {
    height: 25px;
    border-radius:15px;
    width: 14%;
    background-color: rgba(0, 0, 0, 0.911);
    display: inline-block;

}
.sushi .food-pic {
    margin:6%;
    height: 55%;
    width: 88%;
    background-image: linear-gradient(235deg, rgba(245, 26, 62, 0.678), rgba(0, 102, 255, 0.712));
    border-radius:7px;
    text-align: right;
}
.burger {
    background-color: #ffffff;
    margin: 30px;
    height: 300px;
    border-radius:2px;
    width: 27%;
    display: inline-block;
    margin-left: 30px;
}
.burger .price {
    height: 25px;
    border-radius:15px;
    width: 15%;
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    margin-bottom: 10px;
    
}
.burger .food-pic {
    margin:6%;
    height: 55%;
    width: 88%;
    background-image: linear-gradient(500deg, rgba(219, 23, 66, 0.664), rgba(196, 115, 10, 0.801));
    border-radius:7px;
    text-align: right;
}
.chicken {
    background-color: #ffffff;
    margin:30px;
    height: 300px;
    border-radius:2px;
    width: 27%;
    margin-left: 150px;
    display: inline-block;
    margin-top: 30px;
}
.chicken .price {
    height: 25px;
    border-radius:15px;
    width: 15%;
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;

    margin-left: .003%;
}
.chicken .description {
    background-color: rgba(0, 0, 0, 0.603);
    margin: 30px 20% 10px 20px;
    height: 25px;
    border-radius:15px;
    width: 50%;
    display: inline-block;
}
.chicken .food-pic {
    margin:6%;
    height:55%;
    width: 88%;
    background-image: linear-gradient(880deg, rgba(240, 114, 41, 0.836), rgba(233, 168, 30, 0.918));
    border-radius:7px;
}
.sushi .top-sale {
    display: inline-block;
    background-color: rgb(248, 46, 46);
    padding: 5px 10px 5px 10px;
    border-radius:0px 7px 0px 5px;
}
.burger .top-sale {
    display: inline-block;
    background-color: rgb(248, 46, 46);
    padding: 5px 10px 5px 10px;
    border-radius:0px 7px 0px 5px;
}
.map {
    font-family: 'Raleway', sans-serif;
    font-size: 3.2vw;
    padding: 30px;
    line-height: 10vh;
}
.pic {
    font-family: 'Raleway', sans-serif;
    font-size: 4vw;
    padding: 30px;
    line-height: 330px;
}
.sushi:hover {
    background-color: rgba(252, 223, 0, 0.904);
    margin:30px;
    height: 300px;
    border-radius:2px;
    width: 27%;
    margin-left: 150px;
    display: inline-block;
    margin-top: 30px;
    transform: scale(1.1);
    transition: 0.3s;
}
.pizza:hover {
    background-color: #ffffff;
    margin: 30px;
    height: 300px;
    border-radius:2px;
    width: 27%;
    margin-left: 150px;
    display: inline-block;
    transform: scale(1.1);
    transition: 0.3s;
}
.top-sale-another {
    display: inline-block;
    background-color: #83eabc;
    padding: 5px 15px 5px 15px;
    border-radius:4px 0px 4px 0px;
}
