html {
height: 100;
overflow: auto;
}
body {
margin: 0;
padding: 0;
perspective: 1px;
transform-style: preserve-3d;
overflow-y: none;
overflow-x: scroll;
font-family: Calibri;
border-color: black;
}
header {
box-sizing: border-box;
min-height: 300vh;
text-align: center;
padding-top: 18%;
transform-style: inherit;
width: 100vw;
}
header::before {
content: '';
display: block;
position: absolute;
left: 0;
right: 0;
bottom: 0;
top: 0;
z-index: -1;
transform-origin: center;
 min-height: 10vh;
 background-image: url(https://github.com/aeroserg/aviationphotography/blob/main/project/src/img/pedestalpanel.jpeg?raw=true);
 background-repeat: space;
 background-size: cover;
 transition: 1s;
 transform: translateZ(-1px) scale(2);
}

header h1 {
font-size: 100px;
text-align: center;
z-index: 1;
flex: 0 0 auto;
margin-left: 16.6666667%;
width:67%;
color: transparent;	
	-webkit-background-clip: text;
	background-image: linear-gradient(to right, #0bcfcd, #f061bf);
	padding-bottom: 20px;
	border:solid white 10px;
	border-radius: 15px;
}
header a{
	text-decoration: none;
	color: transparent;
	-webkit-background-clip: text;
	background-image: linear-gradient(to left, #30d5c8, #ed97e6);
margin-bottom: 150px;
}

header h2{
margin-bottom: 150px;
	color: transparent;
	-webkit-background-clip: text;
	background-image: linear-gradient(to right, #0bcfcd, #0bcfcd, #0bcfcd, #0bcfcd, #30d5c8, #ed97e6, #f061bf, #f061bf, #f061bf, #f061bf, #f061bf);
}


.col-md-4.offset-md-1 {
	text-align: center;
	font-size: 30px;
color: #000;
z-index: 1;
	background-image: linear-gradient(to left, #30d5c8, #ed97e6);
border-radius: 15px;
padding: 25px;
margin-bottom: 150px;
border:solid white 10px;
}

.col-md-4.offset-md-2 {
	text-align: center;
	font-size: 30px;
color: #000;
z-index: 1;
	background-image: linear-gradient(to right, #30d5c8, #ed97e6);
padding: 25px;
border-radius: 15px;
margin-bottom: 150px;
border:solid white 10px;
}

.col-md-10.offset-md-1 {
	text-align: center;
	font-size: 30px;
color: #000;
z-index: 1;
	background-image: linear-gradient(to right,#ed97e6, #30d5c8, #ed97e6);
padding: 25px;
border-radius: 15px;
margin-bottom: 150px;
border:solid white 10px;
}
.col-md-6.offset-md-1 {
	text-align: center;
	font-size: 30px;
color: #000;
z-index: 1;
	background-image: linear-gradient(to right, #30d5c8, #ed97e6);
padding: 25px;
border-radius: 15px;
margin-bottom: 150px;
border:solid white 10px;
}
.col-md-3.offset-md-1 {
	text-align: center;
	font-size: 30px;
color: #000;
z-index: 1;
	background-image: linear-gradient(to left, #30d5c8, #ed97e6);
padding: 25px;
border-radius: 15px;
margin-bottom: 150px;
border:solid white 10px;
}

.col-md-2.offset-md-1 {
	text-align: center;
z-index: 1;
background-color: #fff;
padding: 20px;
border-radius: 15px;
margin-bottom: 150px;
margin-left: 2.5%;
}
.round {
	border-radius: 10px;
	box-shadow: 0 0 4px #000;
	display: inline-block;
	width: 100%;
	height: auto;
}
.col-md-8.offset-md-2 {
font-size: 50px;
z-index: 1;
font-family: arial;
text-align: center;
background-color: #fff;
border-radius: 15px;
margin-bottom: 100px;
padding-top: 20px;
padding-bottom: 20px;
width:50%;
margin-left: 25%;
margin-right: 25%;
}
